USE [master]
GO
/****** Object:  Database [ShopDatabase]    Script Date: 10/17/2014 1:11:04 AM ******/
CREATE DATABASE [ShopDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ShopDatabase.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShopDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ShopDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDatabase]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/17/2014 1:11:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NULL,
	[Company] [varchar](50) NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
